/* #main-container{
    display: flex;
    grid-template-columns: 25%;
}
#firstBtn{
    height: 50px;
    width: 50px;
    color: red;
}
#secondBtn{
    height: px;
    width: 50px;
    color: red;
}
.image{
    list-style-type: none;
    float: right;
} */
